.button {
  padding: 0.25em 1.25em;
  border: 2px solid var(--foreground-color);
  margin-bottom: 15px;
  box-shadow: 6px 6px var(--foreground-color);

  &:hover {
    box-shadow: 7px 7px var(--foreground-color);
    margin: -1px 1px 16px -1px;
  }

  &:active {
    box-shadow: 2px 2px var(--foreground-color);
    margin: 4px -4px 11px 4px;
  }
}
