.themeSwitchWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px 0;
  background: var(--foreground-color);
  color: var(--background-color);

  .themeSwitch{
    user-select: none;
    cursor: pointer;
    position: relative;

    &:after {
      content: "";
      height: 2px;
      background: var(--background-color);
      background: linear-gradient(90deg, var(--background-color) 0%, var(--background-color) 50%, rgba(0,0,0,0) 50%);
      background-repeat: repeat-x;
      background-size: 7px;
      width: 100%;
      position: absolute;
      bottom: 2px;
      left: 0;
      transition: width 0.3s ease-in-out;
    }
  
    &:hover:after {
      width: 0;
    }
  }
}