@tailwind base;
@tailwind components;
@tailwind utilities;

@import './resets';

:root {
  --foreground-color: #121212;
  --background-color: #fff;
}

[data-theme="dark"] {
    --foreground-color: #fff;
    --background-color: #121212;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

h1 {
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 25px;
}

a {
  position: relative;

  &:after {
    content: "";
    height: 2px;
    background: var(--foreground-color);
    background: linear-gradient(90deg, var(--foreground-color) 0%, var(--foreground-color) 50%, rgba(0,0,0,0) 50%);
    background-repeat: repeat-x;
    background-size: 7px;
    width: 100%;
    position: absolute;
    bottom: 2px;
    left: 0;
    transition: width 0.3s ease-in-out;
  }

  &:hover:after {
    width: 0;
  }
}