.card {
  border: 2px solid var(--foreground-color);
  margin-bottom: 10px;
  cursor: url('/popup-cursor.png') 50 50, auto;
  caret-color: var(--foreground-color);
  background-color: var(--background-color);
  box-shadow: 6px 6px var(--foreground-color);

  &:hover {
    box-shadow: 7px 7px var(--foreground-color);
    margin: -1px 1px 11px -1px;
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .cardDetails {
    padding: 20px;
  
    h2 {
      font-size: 2rem;
    }
  }
}
