.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  p {
    margin-bottom: 20px
  }

  .enterButton {
    font-size: 1.5rem;
  }
}
