@tailwind base;
@tailwind components;
@tailwind utilities;

@import './resets';

html, body {
  @apply h-full;
}

h1 {
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 25px;
}

a {
  position: relative;
}

a:after {
  content: "";
  height: 2px;
  background: #000;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 50%);
  background-repeat: repeat-x;
  background-size: 7px;
  width: 100%;
  position: absolute;
  bottom: 2px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

a:hover:after {
  width: 0;
}